<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <div class="jumbotron">
    
    <form action="#" th:action="@{/publish/send}" th:object="${message}" method="post">
    	
    	<p>email: <input type="email" th:field="*{email}" required/></p>
    	<p>content: <input type="text" th:field="*{content}" min="0" required/></p>
    	<p>date: <input type="date" th:field="*{date}" min="1" max="20" required/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
	
    
<!--     <form action="#" th:action="@{/publish/send}" method="post"> -->
<!--         <button th:id="'table_entry_childs_button_'" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit"> -->
<!--             <i>Send</i> -->
<!--         </button> -->
<!--     </form> -->
<!--     <h1>System Parameters</h1> -->
<!--     	<table id="customers"> -->
<!-- 		    <thead> -->
<!-- 		        <tr> -->
<!-- 		            <th> parameterName </th> -->
<!-- 		            <th> parameterValue </th> -->
<!-- 		            <th> addedBy </th> -->
<!-- 		            <th> createdAt </th> -->
<!-- 		            <th> modefiedBy </th> -->
<!-- 		            <th> updatedAt </th> -->
<!-- 		            <th> action </th> -->
<!-- 		        </tr> -->
<!-- 		    </thead> -->
<!-- 		    <tbody> -->
<!-- 		    <tr th:if="${parameters.empty}"> -->
<!-- 		            <td colspan="2"> No Parameters Available </td> -->
<!-- 		        </tr> -->
<!-- 		        <tr th:each="parameter : ${parameters}"> -->
<!-- 		            <td><span th:text="${parameter.parameterName}"> name </span></td> -->
<!-- 		            <td><span th:text="${parameter.parameterValue}"> value </span></td> -->
<!-- 		            <td><span th:text="${parameter.addedBy}"> addedBy </span></td> -->
<!-- 		            <td><span th:text="${parameter.createdAt}"> createdAt </span></td> -->
<!-- 		            <td><span th:text="${parameter.modifiedBy}"> modifiedBy </span></td> -->
<!-- 		            <td><span th:text="${parameter.updatedAt}"> updatedAt </span></td> -->
		            
<!-- 			        <td> -->
<!-- 			            <form action="#" th:action="@{/params/del/} + ${{parameter.id}}" method="get"> -->
<!-- 			                <button th:id="'table_entry_childs_button_' + ${parameter.id}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit"> -->
<!-- 			                    <i>Delete</i> -->
<!-- 			                </button> -->
<!-- 			            </form> -->
<!-- 			        </td> -->
<!-- 		        </tr> -->
<!-- 		    </tbody> -->
<!-- 		</table>    	 -->
    </div>
</div>
</body>
</html>